.grid-container{
  padding-left: 15px;
  padding-right: 15px;
  .row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .column{
      width: 33.3%;
      float: left;
      mat-card{
        padding: 0;
        border-radius: 0;
        justify-content: center;
        display: flex;
      }
    }
  }
}
mat-card:focus{
  outline: none;
}


