<div class="container grid-container">
    <div class="row">
        <div class="column">
            <mat-card matRipple [routerLink]="">
                <img mat-card-image class="m-0" src="assets/images/photo-1.jpg">
            </mat-card>

            <mat-card matRipple [routerLink]="">
                <img mat-card-image class="m-0" src="assets/images/photo-3.jpg">
            </mat-card>
            <mat-card matRipple [routerLink]="">
                <img mat-card-image class="m-0" src="assets/images/sq-2.jpg">
            </mat-card>
        </div>
        <div class="column">
            <mat-card matRipple [routerLink]="">
                <img mat-card-image class="m-0" src="assets/images/sq-1.jpg">
            </mat-card>
            <mat-card matRipple [routerLink]="">
                <img mat-card-image class="m-0" src="assets/images/home-bg.jpg">
            </mat-card>
            <mat-card matRipple [routerLink]="">
                <img mat-card-image class="m-0" src="assets/images/photo-1.jpg">
            </mat-card>
        </div>
        <div class="column">
            <mat-card matRipple [routerLink]="">
                <img mat-card-image class="m-0" src="assets/images/photo-1.jpg">
            </mat-card>
            <mat-card matRipple [routerLink]="">
                <img mat-card-image class="m-0" src="assets/images/photo-1.jpg">
            </mat-card>
            <mat-card matRipple [routerLink]="">
                <img mat-card-image class="m-0" src="assets/images/photo-1.jpg">
            </mat-card>
        </div>
    </div>
</div>