<div class="container">
  <carousel [height]="300" [cellWidth]="600" style="z-index: 1">
    <div class="carousel-cell">
      <mat-card matRipple [routerLink]="">
        <img mat-card-image class="m-0" src="assets/images/photo-1.jpg">
      </mat-card>
    </div>
    <div class="carousel-cell">
      <mat-card matRipple [routerLink]="">
        <img mat-card-image class="m-0" src="../../../../assets/images/hero/banner.png">
      </mat-card>
    </div>
    <div class="carousel-cell">
      <mat-card matRipple [routerLink]="">
        <img mat-card-image class="m-0" src="../../../../assets/images/hero/banner.png">
      </mat-card>
    </div>
    <div class="carousel-cell">
      <mat-card matRipple [routerLink]="">
        <img mat-card-image class="m-0" src="../../../../assets/images/hero/banner.png">
      </mat-card>
    </div>
    <div class="carousel-cell">
      <mat-card matRipple [routerLink]="">
        <img mat-card-image class="m-0" src="../../../../assets/images/hero/banner.png">
      </mat-card>
    </div>
    <div class="carousel-cell">
      <mat-card matRipple [routerLink]="">
        <img mat-card-image class="m-0" src="../../../../assets/images/hero/banner.png">
      </mat-card>
    </div>
  </carousel>
</div>
