<section id="service-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div fxFlex="50" fxLayout="row wrap" fxLayout.lt-md="column">
        <div fxFlex="50">
          <mat-card class="text-center m-1">
            <div class="rounded-icon warn mb-1">
              <mat-icon>description</mat-icon>
            </div>
            <p class="text-uppercase">INVOICING</p>
          </mat-card>
        </div>
        <div fxFlex="50">
          <mat-card class="text-center m-1">
            <div class="rounded-icon warn mb-1">
              <mat-icon>payment</mat-icon>
            </div>
            <p class="text-uppercase">PAYMENT GATEWAY</p>
          </mat-card>
        </div>
        <div fxFlex="50">
          <mat-card class="text-center m-1">
            <div class="rounded-icon warn mb-1">
              <mat-icon>payment</mat-icon>
            </div>
            <p class="text-uppercase">PAYMENT GATEWAY</p>
          </mat-card>
        </div>
        <div fxFlex="50">
          <mat-card class="text-center m-1">
            <div class="rounded-icon warn mb-1">
              <mat-icon>cloud_done</mat-icon>
            </div>
            <p class="text-uppercase">CLOUD SYNC</p>
          </mat-card>
        </div>

      </div>
      <div fxFlex="50" class="right-action">
        <h2 class="action-title">Made by business people for business people</h2>
        <p class="action-string">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, iusto officiis? Sint quaerat odit molestias.</p>
        <p class="action-string">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora minus voluptatibus labore beatae ea ab, vero dolor fugit molestiae. Fugiat placeat temporibus incidunt distinctio repellendus facilis doloremque aperiam? Culpa, possimus!</p>
        <button mat-raised-button mat-lg-button color="primary">Try it Free!</button>
      </div>

    </div>
  </div>
</section>
