<section id="intro-section" class="home-intro-section text-center">
  <div class="container" fxLayout="column" fxLayoutWrap="nowrap">
    <div class="home-intro-subtitle">
     WEB & APP DEVELOPMENT
    </div>
    <h1 class="home-intro-title">Start your website Right now</h1>
    <p class="home-intro-text">
      I am an expert web & app developer. We are so many features for your website and app
    </p>
    <button mat-raised-button mat-lg-button class="intro-cta" (click)="buyEgret()"><mat-icon>add_task</mat-icon> start now</button>
  </div>
</section>
