<section id="intro-section" class="home-intro-section">
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
    <div fxFlex="60">
      <h1 class="home-intro-title">Start your WEB site  </h1>
      <div class="home-intro-desc">
        We are ready always for your website and app. We are ready always for your website and app.
        We are ready always for your website and app.
        We are ready always for your website and app.
      </div>
      <div class="intro-list" fxLayout="column" fxLayoutGap="10px">
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> WEB development</div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> APP development</div>
        <div fxFlex="100">
          <mat-icon color="accent">check</mat-icon><span fxFlex="20px"></span> Fixing bugs</div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column">
        <button mat-raised-button mat-lg-button  color="primary" (click)="buyEgret()">GET SERVICE</button>
        <span fxFlex="20px"></span>
        <button mat-raised-button mat-lg-button id="frontend-btn" (click)="getNGLanding()"><mat-icon>call</mat-icon> CALL US</button>
      </div>
    </div>
    <span fxFlex.lt-md="30px" fxFlex="0"></span>
  </div>
</section>
