<section id="intro-section" class="home-intro-section">
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
    <div fxFlex="50">
      <h1 class="home-intro-title mat-color-primary">Better Management; Less Expense</h1>
      <div class="home-intro-desc">
        Not sure about Pro? Try trial first!
      </div>
      <div class="intro-list text-muted" fxLayout="column" fxLayoutGap="16px">
        <div fxFlex="100">
          <mat-icon color="warn">check</mat-icon><span fxFlex="8px"></span> Unlimited Projects.
        </div>
        <div fxFlex="100">
          <mat-icon color="warn">check</mat-icon><span fxFlex="8px"></span> Unlimited Team Members.</div>
        <div fxFlex="100">
          <mat-icon color="warn">check</mat-icon><span fxFlex="8px"></span> Unlimited Disk Space.</div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column">
          <div class="subscribe-input">
              <input class="email-input" type="text" placeholder="Your email"/>
              <button mat-raised-button color="warn">
                <mat-icon>flight_takeoff</mat-icon> SUBSCRIBE
              </button>
            </div>

        <span fxFlex="20px"></span>
        <!-- <button mat-raised-button mat-lg-button id="frontend-btn" (click)="getNGLanding()"><mat-icon>get_app</mat-icon> ANGULAR LANDING</button> -->
      </div>
    </div>
    <span fxFlex.lt-md="30px" fxFlex="0"></span>
    <div fxFlex="50">
      <div class="intro-three-product" fxLayout="row" fxLayoutAlign="center">
        <img src="assets/images/illustrations/2.svg" alt="">
      </div>
    </div>
  </div>
</section>